<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1><a href="http://localhost:8080">Proccontrol</a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="nav-item">
                    <a href="http://localhost:8080/edicio" class="nav-link">Tornar</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/proces" class="nav-link" routerLinkActive="active">Processos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/newproces" class="nav-link" routerLinkActive="active">Nou procés</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<div class="container2">
    <router-outlet></router-outlet>
</div>