<ng-template #menuMobile let-modal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Menú</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="http://localhost:8080/edicio" (click)="modal.close('Tornar')" class="nav-link">Tornar</a>
            </li>
            <li class="nav-item">
                <a routerLink="/proces" class="nav-link" (click)="modal.close('Processos')"
                    routerLinkActive="active">Processos</a>
            </li>
            <li class="nav-item">
                <a routerLink="/newproces" class="nav-link" (click)="modal.close('Nou procés')"
                    routerLinkActive="active">Nou procés</a>
            </li>
        </ul>
    </div>
</ng-template>

<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1><a href="http://localhost:8080">Proccontrol</a></h1>
        </div>
        <nav id="navbar" class="navbar nav-menu navbar-expand-lg">

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="http://localhost:8080/edicio" class="nav-link">Tornar</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/proces" class="nav-link" routerLinkActive="active">Processos</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/newproces" class="nav-link" routerLinkActive="active">Nou procés</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="navbar-toggler mobile-nav-toggle d-lg-none" (click)="openModal(menuMobile)">
                <i class="bi bi-list"></i>
            </button>
        </nav>
    </div>
</header>

<div class="container">
    <br>
    <br>
    <router-outlet></router-outlet>
</div>