<header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1><a href="http://localhost:8080">Proccontrol</a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="nav-item">
                    <a href="http://localhost:8080" class="nav-link">Tornar</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/proces" class="nav-link" routerLinkActive="active">Processos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/newproces" class="nav-link" routerLinkActive="active">Nou procés</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<div class="section-title addPaddingTop">
    <h2>
        <b>{{proces.nom}}</b> de la referència <b>{{proces.referencia?.nom}}</b>
    </h2>
</div>

<table class="table table-striped table-hover">
    <thead class="table-danger">
        <tr>
            <th>Imatge</th>
            <th>Passos</th>
            <th>Nom</th>
            <th>Descripció</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pas of passos">
            <td><img class="imatge" [src]="pas.imatge" alt="" /></td>
            <td>{{ pas.numeroDePas }}</td>
            <td>{{ pas.titol }}</td>
            <td>{{ (pas.descripcio.length>10)? (pas.descripcio | slice:0:10)+'..':(pas.descripcio) }}</td>
        </tr>
    </tbody>
</table>

<div>
    <div>
        <button class="btn btn-success" style="margin-left: 10px" (click)="afegirPas()">Afegir pas
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg></button>
        <button class="btn btn-primary" style="margin-left: 10px" (click)="saveProces()">Desar procés</button>
    </div>
</div>