<div class="col-md-6 offset-md-3">

    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Nom del procès</label>
            <input type="text" class="form-control" id="nomProces" [(ngModel)]="proces.nom" name="nomProces">
        </div>

        <div class="form-group">
            <label>Referència</label>
            <select class = "custom-select" name = "referencies" [(ngModel)] = "proces.referencia">
                <option value="">--Sel·lecciona una referencia--</option>
                <option *ngFor = "let referencia of referencies"  [ngValue] = "referencia">{{ referencia.nom }}</option>
            </select>
        </div>
        
        

        <div class="form-group">
            <label>Numero de passos</label>
            <input type="number" class="form-control" id="numPassos" [(ngModel)]="proces.numPassos" name="numPassos">
        </div>

        <button class="btn btn-success" type="submit">Crear</button>

    </form>
</div>