<div class="section-title addPaddingTop">
    <h2>Política de privacitat</h2>
</div>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 content">
                <p>
                    Proccontrol t'informa sobre la seva Política de Privacitat respecte de l'tractament i protecció de
                    les dades de
                    caràcter
                    personal dels usuaris i clients que puguin ser recollides per la navegació o contractació de serveis
                    a través de el
                    lloc web localhost:8080, localhost:4200.

                    En aquest sentit, el titular garanteix el compliment de la normativa vigent en matèria de protecció
                    de dades
                    personals, reflectida en la Llei Orgànica 3/2018, de 5 de desembre, de Protecció de Dades Personals
                    i de Garantia de
                    Drets Digitals (LOPD GDD) . Compleix també amb el Reglament (UE) 2016/679 de el Parlament Europeu i
                    de Consell de 27
                    d'abril de 2016 relatiu a la protecció de les persones físiques (RGPD).

                    L'ús de lloc web implica l'acceptació d'aquesta Política de Privacitat així com les condicions
                    incloses en l'Avís
                    Legal.
                </p>
                <br>
                <h3>Identitat del responsable</h3>
                <ul>
                    <li><i class="bi bi-check-circle"></i>Titular: Proccontrol</li>
                    <li><i class="bi bi-check-circle"></i>CIF: B59874529</li>
                    <li><i class="bi bi-check-circle"></i>Domicilio: Av. del Paral·lel, 71, 08004 Barcelona</li>
                    <li><i class="bi bi-check-circle"></i>Correo electrónico: info@proccontrol.com</li>
                    <li><i class="bi bi-check-circle"></i>Lloc web: localhost:80808, localhost:4200</li>
                </ul>
                <br>
                <h3>Principis aplicats en el tractament de dades</h3>
                <p>
                    En el tractament de les teves dades personals, el titular ha d'aplicar els següents principis que
                    s'ajusten a les exigències de el nou reglament europeu de protecció de dades:
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i>Principi de licitud, lleialtat i transparència: El Titular
                        sempre requerirà el consentiment per al
                        tractament de les teves dades personals que pot ser per a un o diversos fins específics sobre
                        els
                        quals t'informarà prèviament amb absoluta transparència.</li>
                    <li><i class="bi bi-check-circle"></i>Principi de minimització de dades: El titular et sol·licitarà
                        només les dades estrictament
                        necessàries per a la finalitat o les finalitats que els sol·licita.
                    <li><i class="bi bi-check-circle"></i>Principi de limitació de l'termini de conservació: Les dades
                        es mantindran durant el temps
                        estrictament necessari per al cap o els caps de el tractament.
                        El Titular t'informarà de el termini de conservació corresponent segons la finalitat. En el cas
                        de
                        subscripcions, el Titular revisarà periòdicament les llistes i eliminarà aquells registres
                        inactius
                        durant un temps considerable.</li>
                    <li><i class="bi bi-check-circle"></i>Principi d'integritat i confidencialitat: Les teves dades
                        seran tractades de tal manera que la seva
                        seguretat, confidencialitat i integritat estigui garantida. Has de saber que el Titular pren les
                        precaucions necessàries per evitar l'accés no autoritzat o ús indegut de les dades dels seus
                        usuaris
                        per part de tercers.</li>
                </ul>
                <br>
                <h3>Obtenció de dades personals</h3>
                <p>
                    Per navegar per Proccontrol no cal que facilitis cap dada personal. Els casos en què sí proporciones
                    les teves dades personals són els següents:
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i>A l'contactar a través dels formularis de contacte o enviar un
                        correu electrònic.</li>
                    <li><i class="bi bi-check-circle"></i>A l'inscriure't en un formulari de subscripció.</li>
                </ul>
                <br>
                <h3>Els teus drets</h3>
                <p>El Titular t'informa que sobre les teves dades personals tens dret a: </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i>Sol·licitar l'accés a les dades emmagatzemades.</li>
                    <li><i class="bi bi-check-circle"></i>Demana una rectificació o la cancel·lació.</li>
                    <li><i class="bi bi-check-circle"></i>Sol·licitar la limitació del seu tractament.</li>
                    <li><i class="bi bi-check-circle"></i>Oposar-te al tractament.</li>
                    <li><i class="bi bi-check-circle"></i>Sol·licitar la portabilitat de les teves dades.</li>
                </ul>
                <p>
                    L'exercici d'aquests drets és personal i per tant ha de ser exercit directament per l'interessat,
                    sol·licitant-lo directament a la persona titular, el que significa que qualsevol client, subscriptor
                    o col·laborador que hagi facilitat les seves dades en algun moment pot dirigir-se a l'Titular i
                    demanar informació sobre els dades que té emmagatzemades i com els ha obtingut, sol·licitar la
                    rectificació dels mateixos, sol·licitar la portabilitat de les seves dades personals, oposar-se a el
                    tractament, limitar el seu ús o sol·licitar la cancel·lació d'aquestes dades en els fitxers de
                    l'Titular.

                    Per exercitar els teus drets d'accés, rectificació, cancel·lació, portabilitat i oposició has
                    d'enviar un correu electrònic a info@proccontrol.com juntament amb la prova vàlida en dret com una
                    fotocòpia de l'D.N.I. o equivalent.

                    Tens dret a la tutela judicial efectiva i a presentar una reclamació davant l'autoritat de control,
                    en aquest cas, l'Agència Espanyola de Protecció de Dades, si consideres que el tractament de dades
                    personals que et concerneixen infringeix el Reglament.
                </p>
                <br>
                <h3>Finalitat de el tractament de dades personals</h3>
                <p>Quan et connectes a el lloc web per enviar un correu a la persona titular, et subscrius al seu
                    butlletí o realitzes una contractació, estàs facilitant informació de caràcter personal de la qual
                    el responsable és el titular. Aquesta informació pot incloure dades de caràcter personal com poden
                    ser la teva adreça IP, nom i cognoms, adreça física, adreça de correu electrònic, número de telèfon,
                    i una altra informació. A l'facilitar aquesta informació, dónes el teu consentiment perquè la teva
                    informació sigui recopilada, utilitzada, gestionada i emmagatzemada per superadmin.es, només com es
                    descriu en l'Avís Legal i en la present Política de Privacitat.

                    Les dades personals i la finalitat de l'tractament per part de l'Titular és diferent segons el
                    sistema de captura d'informació:</p>
                <ul>
                    <li>Formularis de contacte: El Titular sol·licita dades personals entre els quals poden estar: Nom i
                        cognoms, adreça de correu electrònic, número de telèfon i adreça del teu lloc web amb la
                        finalitat de respondre a les teves consultes.
                        Per exemple, el Titular utilitza aquestes dades per donar resposta a les teves missatges,
                        dubtes, queixes, comentaris o inquietuds que puguis tenir relatives a la informació inclosa en
                        el lloc web, els serveis que es presten a través de el lloc web, el tractament de les teves
                        dades personals, qüestions referents als textos legals inclosos en el lloc web, així com
                        qualsevol altra consulta que puguis tenir i que no estigui subjecta a les condicions de el lloc
                        web o de la contractació.</li>
                </ul>
                <br>
                <h3>Seguretat de les dades personals</h3>
                <p>
                    Per protegir les teves dades personals, el Titular pren totes les precaucions raonables i segueix
                    les millors pràctiques de la indústria per evitar la seva pèrdua, mal ús, accés indegut, divulgació,
                    alteració o destrucció dels mateixos.

                    El lloc web està allotjat en localhost. La seguretat de les teves dades està
                    garantida, ja que prenen totes les mesures de seguretat necessàries per a això. Pots consultar la
                    seva política de privacitat per tenir més informació.
                </p>
                <br>
                <h3>Contingut d'altres llocs web</h3>
                <p>Les pàgines d'aquest lloc web poden incloure contingut incrustat (per exemple, vídeos, imatges,
                    articles, etc.). El contingut incrustat d'altres web es comporta exactament de la mateixa manera que
                    si haguessis visitat l'altra web.

                    Aquests llocs web poden recopilar dades sobre tu, utilitzar cookies, incrustar un codi de seguiment
                    addicional de tercers, i supervisar la teva interacció usant aquest codi.</p>
                <br>
                <h3>Política de Cookies</h3>
                <p>Perquè aquest lloc web funcioni correctament necessita utilitzar cookies, que és una informació que
                    s'emmagatzema al navegador web.En la página Política de Cookies puedes consultar toda la información
                    relativa a la política de
                    recogida, la finalidad y el tratamiento de las cookies.</p>
                <br>
                <h3>Legitimació per al tractament de dades</h3>
                <p>La base legal per al tractament de les teves dades és: el consentiment.Per contactar amb el Titular,
                    subscriure a un butlletí o fer comentaris en aquest lloc web has
                    d'acceptar la present política de privacitat.</p>
                <br>
                <h3>Navegació Web</h3>
                <p>
                    Al navegar per LLOC WEB es poden recollir dades no identificatives, que poden incloure, l'adreça
                    IP, geolocalització, un registre de com s'utilitzen els serveis i llocs, hàbits de navegació i
                    altres dades que no poden ser utilitzats per identificar-te.
                </p>
                <br>
                <h3>Exactitud i veracitat de les dades personals</h3>
                <p>
                    Et compromets a que les dades facilitades a l'Titular siguin correctes, complets, exactes i vigents,
                    així com a mantenir-les degudament actualitzades.

                    Com Usuari de el lloc web ets l'únic responsable de la veracitat i correcció de les dades que facis
                    arribar a el lloc exonerant a l'Titular de qualsevol responsabilitat a l'respecte.
                </p>
                <br>
                <h3>Aceptación y consentimiento</h3>
                <p>Como Usuario del sitio Web declaras haber sido informado de las condiciones sobre protección de datos
                    de carácter personal, aceptas y consientes el tratamiento de los mismos por parte de el Titular en
                    la
                    forma y para las finalidades indicadas en esta Política de Privacidad.</p>
                <br>
                <h3>Revocabilitat</h3>
                <p>Per exercitar els teus drets d'accés, rectificació, cancel·lació, portabilitat i oposició has
                    d'enviar un correu electrònic a CORREU ELECTRÒNIC juntament amb la prova vàlida en dret com una
                    fotocòpia de l'D.N.I. o equivalent.

                    L'exercici dels teus drets no inclou cap dada que el Titular estigui obligat a conservar amb fins
                    administratius, legals o de seguretat.</p>
                <br>
                <h3> Canvis en la Política de Privacitat</h3>
                <p>El Titular es reserva el dret a modificar la present Política de Privacitat per adaptar-la a novetats
                    legislatives o jurisprudencials, així com a pràctiques de la indústria.

                    Aquestes polítiques estaran vigents fins que siguin modificades per altres degudament publicades.
                </p>
            </div>
        </div>

    </div>
</section>