<div class="col-md-6 offset-md-3">

    <h4>Passos de {{ proces.nom }}</h4>

    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">

        <div class="form-group">
            <label>Nom del pas</label>
            <input type="text" class="form-control" [(ngModel)]="pas.titol" name="titol">
        </div>

        <div class="form-group">
            <label>Descripció</label>
            <textarea type="text" cols="30" rows="8" class="form-control" [(ngModel)]="pas.descripcio"
                name="descripcio"></textarea>
        </div>

        <div class="form-group">
            <label>Selecciona una imatge descriptiva</label>
            <input type="file" class="form-control" (change)="onSelectFile($event)" name="imatge">
        </div>



        <button class="btn btn-success" type="submit">Acceptar

        </button>

    </form>

</div>