<section class="contact">
    <div class="container">
        <div class="section-title addPaddingTop">
            <h2>Passos de {{ proces.nom }}</h2>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="php-email-form"
                    [formGroup]="passosForm">

                    <div class="form-group mt-3">
                        <label>Nom del pas</label>
                        <input type="text" class="form-control" [(ngModel)]="pas.titol" name="titol"
                            formControlName="titol">
                    </div>

                    <div *ngIf="titol?.invalid && (titol?.dirty || titol?.touched)" class="alert alert-danger">
                        Has de posar un títol
                    </div>

                    <div class="form-group mt-3">
                        <label>Descripció</label>
                        <textarea type="text" cols="30" rows="8" class="form-control" [(ngModel)]="pas.descripcio"
                            name="descripcio" formControlName="descripcio"></textarea>
                    </div>

                    <div *ngIf="descripcio?.invalid && (descripcio?.dirty || descripcio?.touched)"
                        class="alert alert-danger">
                        Has de posar descripció
                    </div>

                    <div class="form-group">
                        <label>Selecciona una imatge descriptiva</label>
                        <input type="file" class="form-control-file" (change)="onSelectFile($event)" name="imatge">
                    </div>
                    <br>

                    <button class="btn btn-success" type="submit"
                        [disabled]="titol?.invalid || descripcio?.invalid">Acceptar
                    </button>

                </form>

            </div>
        </div>
    </div>
</section>
