<div class="container">

    <h3><b>{{proces.nom}}</b> de la referència <b>{{proces.referencia?.nom}}</b></h3><br>




    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Títol</th>
                <th>Numero de pas</th>
                <td>Accions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pas of passos">
                <td>{{ pas.titol }}</td>
                <td>{{ pas.descripcio }}</td>
                <td>{{ pas.numeroDePas }}</td>
                <td>
                    <button class="btn btn-info"> Editar </button>
                    <button class="btn btn-danger" style="margin-left: 10px"> Eliminar </button>
                    <button class="btn btn-info" style="margin-left: 10px"> Veure </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <div>

            <a (click) = "afegirPas()" class="nav-link" routerLinkActive="active">Afegir pas <svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg> </a>
        </div>
    </div>

</div>