<div class="section-title addPaddingTop">
    <h2>
        Detalls del procès
    </h2>
</div>

<br>

<div>
    <div>
        <label><b>{{proces.nom}}</b></label> de la referència<b> {{proces.referencia?.nom}}</b>, te {{proces.numPassos}}
        passos.
    </div>

    <br>

    <h4>Passos:</h4>
    <table class="table table-striped table-hover">
        <thead class="table-danger">
            <tr>
                <th>Imatge</th>
                <th>Pas</th>
                <th>Nom</th>
                <th>Descripció</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let pas of proces.passos">
                <td><img class="imatge" [src]="pas.imatge" alt="" /></td>
                <td><b>{{ pas.numeroDePas }}</b></td>
                <td>{{ pas.titol }}</td>
                <td>{{ pas.descripcio }}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <div>
        <button (click)="updateProces(proces.idProces)" class="btn-orange">
            Editar el procès
        </button>
    </div>
</div>